/*=============================================================================
GENERAL
=============================================================================*/
pre {
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 1.42857143;
	word-break: break-all;
	word-wrap: break-word;
	color: #333;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 4px;
}
h1, h2, h3, h4, h5, p { margin: 0; }
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { font-weight: 400 !important; }
a, button, .btn { transition: 0.2s; }
.relativer { position: relative; }
.absoluter { position: absolute; }
.container-custom { width: 100%; margin: 0 auto; padding: 0 1rem; position: relative; }
.nb-container { width: 100%; max-width: 100%; }
.fw100 { font-weight: 100; }
.fw200 { font-weight: 200; }
.fw300 { font-weight: 300; }
.fw { font-weight: 400; }
.fw500 { font-weight: 500; }
.fw600 { font-weight: 600; }
/*Margin*/
.mt-30 { margin-top: 2rem; }
.mt-45 { margin-top: 2.85rem; }
.mt-60 { margin-top: 4rem; }
.mb-30 { margin-bottom: 2rem; }
.mb-45 { margin-bottom: 2.85rem; }
.mb-60 { margin-bottom: 4rem; }
.ml-30 { margin-left: 2rem; }
.ml-45 { margin-left: 2.85rem; }
.ml-60 { margin-left: 4rem; }
.mr-30 { margin-right: 2rem; }
.mr-45 { margin-right: 2.85rem; }
.mr-60 { margin-right: 4rem; }
.mtb-15 { margin: 1rem 0; }
.mtb-30 { margin: 2rem 0; }
.mtb-45 { margin: 2.85rem 0; }
.mtb-60 { margin: 4rem 0; }
.mlr-15 { margin: 0 1rem; }
.mlr-30 { margin: 0 2rem; }
.mlr-45 { margin: 0 2.85rem; }
.mlr-60 { margin: 0 4rem; }
/*Margin*/
/*Padding*/
.pt-30 { padding-top: 2rem; }
.pt-45 { padding-top: 2.85rem; }
.pt-60 { padding-top: 4rem; }
.pb-30 { padding-bottom: 2rem; }
.pb-45 { padding-bottom: 2.85rem; }
.pb-60 { padding-bottom: 4rem; }
.pl-30 { padding-left: 2rem; }
.pl-45 { padding-left: 2.85rem; }
.pl-60 { padding-left: 4rem; }
.pr-30 { padding-right: 2rem; }
.pr-45 { padding-right: 2.85rem; }
.pr-60 { padding-right: 4rem; }
.ptb-15 { padding: 1rem 0; }
.ptb-30 { padding: 2rem 0; }
.ptb-45 { padding: 2.85rem 0; }
.ptb-60 { padding: 4rem 0; }
.plr-15 { padding: 0 1rem; }
.plr-30 { padding: 0 2rem; }
.plr-45 { padding: 0 2.85rem; }
.plr-60 { padding: 0 4rem; }
/*Padding*/
.bg-gray-light { background-color: #f1f1f1; }
.bg-yellow-light { background-color: #e8e8ce; }
.bg-blue-dark { background-color: #171733; }
.bg-black { background-color: #000; }
.text-black { color: #000; }

.btn-noradius { border-radius: 0 !important; }
.btn-yellow-light {
	color: #000;
	background-color: #e8e8ce;
	border: 1px solid #e8e8ce;
}
.btn-yellow-light:hover,
.btn-yellow-light:active,
.btn-yellow-light:focus {
	color: #e8e8ce;
	background-color: #000;
	border-color: #000
}

.btn-black {
	color: #FFF;
	background-color: #000;
	border: 1px solid #000;
}
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
	color: #000;
	background-color: #FFF;
	border-color: #FFF
}

.btn-blue {
	background-color: transparent;
	color: #FFF;
	border: none;
	font-weight: bold;
	padding: 0;
}

@media( min-width: 1200px ) { .container-custom, .nb-container { width: 1200px !important; max-width: 1200px !important; } }
@media( max-width: 991px ) {
	h1 { font-size: 2rem; }
	h2 { font-size: 1.625rem; }
	h3 { font-size: 1.25rem; }
	h4 { font-size: 1rem; }

	.mt-30 { margin-top: 1rem; }
	.mb-30 { margin-bottom: 1rem; }
	.ml-30 { margin-left: 1rem; }
	.mr-30 { margin-right: 1rem; }
	.mt-60, .mt-45 { margin-top: 2rem; }
	.mb-60, .mb-45 { margin-bottom: 2rem; }
	.ml-60, .ml-45 { margin-left: 2rem; }
	.mr-60, .mr-45 { margin-right: 2rem; }
	.mtb-30, .mtb-45 { margin: 1rem 0; }
	.mtb-60 { margin: 2rem 0; }
	.mlr-30 { margin: 0 1rem; }
	.mlr-60, .mlr-45 { margin: 0 2rem; }


	.pt-45 { padding-top: 2.85rem; }
	.pb-45 { padding-bottom: 2.85rem; }
	.pl-45 { padding-left: 2.85rem; }
	.pr-45 { padding-right: 2.85rem; }
	.ptb-45 { padding: 2.85rem 0; }
	.plr-45 { padding: 0 2.85rem; }

	.pt-30 { padding-top: 1rem; }
	.pb-30 { padding-bottom: 1rem; }
	.pl-30 { padding-left: 1rem; }
	.pr-30 { padding-right: 1rem; }
	.pt-60, .pt-45 { padding-top: 2rem; }
	.pb-60, .pb-45 { padding-bottom: 2rem; }
	.pl-60, .pl-45 { padding-left: 2rem; }
	.pr-60, .pr-45 { padding-right: 2rem; }
	.ptb-30 { padding: 1rem 0; }
	.ptb-60, .ptb-45 { padding: 2rem 0; }
	.plr-30 { padding: 0 1rem; }
	.plr-60, .plr-45 { padding: 0 2rem; }
}
@media( max-width: 767px ) {
	h1 { font-size: 1.625rem; }
	h2 { font-size: 1.25rem; }
	h3 { font-size: 1rem; }
	h4 { font-size: .875rem; }
	.mt-60, .mt-45 { margin-top: 1rem; }
	.mb-60, .mb-45 { margin-bottom: 1rem; }
	.ml-60, .ml-45 { margin-left: 1rem; }
	.mr-60, .mr-45 { margin-right: 1rem; }
	.mtb-60, .mtb-45 { margin: 1rem 0; }
	.mlr-60, .mlr-45 { margin: 0 1rem; }

	.pt-60, .pt-45 { padding-top: 1rem; }
	.pb-60, .pb-45 { padding-bottom: 1rem; }
	.pl-60, .pl-45 { padding-left: 1rem; }
	.pr-60, .pr-45 { padding-right: 1rem; }
	.ptb-60, .ptb-45 { padding: 1rem 0; }
	.plr-60, .plr-45 { padding: 0 1rem; }
}
.full-carousel .carousel-item {
	height: 100vh;
	min-height: 300px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
/**
 * Carousel with Circle indicator
 * it needs to add <div class="inner-circle"></div> on li elements (carousel-indicator)
 */
.circle-indicators .carousel-indicators li {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-top: 3px;
	text-indent: -999px;
	cursor: pointer;
	background-color: rgba(0,0,0,0);
	border-radius: 10px;
	background-color: #FFF;
	border: none;
}
.circle-indicators .carousel-indicators .active {
  width: 16px;
  height: 16px;
  background-color: transparent;
  margin-top: 0;
  margin-bottom: -2px;
  border: 1px solid #FFF;
}
.circle-indicators .carousel-indicators li.active .inner-circle { display: block; }
.circle-indicators .inner-circle {
	width: 8px;
	height: 8px;
	border-radius: 12px;
	margin: 3px;
	background-color: #FFF;
	display: none;
}
/*=============================================================================
NAVBAR
=============================================================================*/
.navbar .nav-item a { border-bottom: 2px solid transparent; }
.navbar .nav-item.active a,
.navbar .nav-item:hover a { border-bottom: 2px solid #FFF; }
.bg-navbar-01 { left: 0; z-index: 0; top:0px; }
.bg-navbar-02 { right: 0; z-index: 0; top:0px;}
.navbar {
	width: 100%;
	margin-top: 1.5rem;
	margin-bottom: 0;
	border: none;
	border-radius: 0;
	padding: 0 1rem;
	position: absolute;
	z-index: 991;
}
.navbar-fixed-custom { position: fixed !important; margin-top: 0; }
.navbar-nav { margin-left: 6rem; }
.navbar-nav li { margin-right: 1.5rem; }
.navbar-nav li:last-child { margin-right: 0; }
/*=============================================================================
INDEX
=============================================================================*/
.c-caption {
	width: 100%;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
#home-carousel .carousel-item .container-custom {
	position: absolute !important;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
#home-carousel .carousel-caption { bottom: 0; padding-bottom: .25rem; }
.h1-bigger { font-size: 3.5rem; }
.carousel-contact-btn {
	width: 100%;
	bottom: 20%;
	position: absolute;
}
.social {
	position: absolute;
	right: 5%;
	bottom: 0;
}
.whatsapp-contact {
	color: white !important;
	background-color: #4fbf49;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 1000;
	text-decoration: none !important;
}
#home-carousel .carousel-item,
#pedidos-carousel .carousel-item {
	height: 500px;
	min-height: 300px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
/*=============================================================================
PEDIDOS
=============================================================================*/
.pedidos-title {
	background-color: #e8e8ce;
	padding: 1rem;
	position: absolute;
	top: -10rem;
	z-index: 990;
	border-radius: 20px 20px 0 0;
	-webkit-box-shadow: 0 15px 0px 0px #e8e8ce, 0 -9px 0px 0px #e8e8ce, 3px 0 15px -4px rgba(0,0,0,0.8), -3px 0 15px -4px rgba(0,0,0,0.8);
	box-shadow: 0 15px 0px 0px #e8e8ce, 0 -9px 0px 0px #e8e8ce, 3px 0 15px -4px rgba(0,0,0,0.8), -3px 0 15px -4px rgba(0,0,0,0.8);
}
.products-container img {
	border: 2px solid #abac9b;
	border-radius: 4px;
}
.pedidos-form input, .pedidos-form textarea { border-radius: 0; border: none; }
.pagination-custom * {
	color: #b6b194;
	background-color: transparent !important;
	border: none;
}
.product-name {
	color: #FFF;
	background-color: #000;
	padding: .5rem;
	text-align: center;
}
.main-image-container > div { width: 100% !important; position: relative !important; }
.colors-container .available-color { margin-right: 1rem; }
.colors-container .available-color:last-child { margin-right: 0; }
.available-color { width: 80px; height: 50px; float: left; }
/*=============================================================================
CART
=============================================================================*/
.cart-container > div {
	padding: 1.5rem;
	border-right: 2px solid rgba(0,0,0,0.3);
}
.cart-container > div:last-child { border: none; }
.cart-container h3 > strong { word-wrap: break-word; }
/*=============================================================================
FOOTER
=============================================================================*/
.social a:hover { text-decoration: none; }
.social a svg {
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}
.social a:hover svg {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}
.thanks-page { height: 100vh; }
/*=============================================================================
MEDIA QUERIES
=============================================================================*/
@media( max-width: 990px ) {
	#home-carousel .carousel-item img { display: none !important; }
	#home-carousel { height: 100vh; }
	#home-carousel .carousel-item {
		/*background-image: url("http://placehold.it/1900x900.jpg?text=1900x900.jpg");*/
		height: 100vh;
		min-height: 480px;
		background-repeat: no-repeat;
		background-position: center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		-ms-background-size: cover;
		background-size: cover;
	}
	.h1-bigger { font-size: 2.8rem; }
}
@media( max-width: 767px ) {
	.navbar-nav li { margin: 0; }
	.h1-bigger { font-size: 2rem; }
	.navbar {
		padding-top: 0;
		padding-bottom: 0;
		margin-top: 0;
		/*position: relative;*/
	}
	#home-carousel .carousel-item {
		-webkit-background-size: 1000px;
		-moz-background-size: 1000px;
		-o-background-size: 1000px;
		-ms-background-size: 1000px;
		background-size: 1000px;
	}
	.navbar-collapse { margin-left: -1rem; margin-right: -1rem; }
	.navbar-nav { margin-left: 0; background-color: #000; }
	.social { position: relative; right: 0; margin-top: 1rem; }

	#pedidos-carousel .carousel-item {
		height: 300px;
		background: no-repeat center center scroll;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		-ms-background-size: cover;
		background-size: cover;
	}
	#pedidos-carousel .carousel-item {
		background-image: url("http://placehold.it/1900x800.jpg?text=1900x800.jpg");
	}
	#pedidos-carousel img { display: none !important; }
	.pedidos-title {
		left: 0;
		top: 0;
		position: relative;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}
@media( max-width: 576px ) {
	form .btn-black { display: block !important; width: 100%; }
	#home-carousel,
	#home-carousel .carousel-item { height: 300px; min-height: auto; }
	#home-carousel .carousel-item {
		-webkit-background-size: 1200px;
		-moz-background-size: 1200px;
		-o-background-size: 1200px;
		-ms-background-size: 1200px;
		background-size: 1200px;
	}
	#recaptcha {
		-webkit-transform: scale(0.9);
		-ms-transform: scale(0.9);
		-o-transform: scale(0.9);
		transform: scale(0.9);
	}
}

.bg-light{background-color:transparent!important;}

.telaslist{
	margin:0px;
	padding:0px;
}

.telaslist li{
	list-style: none;
	padding:0px;
	margin:5px;
	display: inline-block;
}